.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    padding: 80px;
    height: 720px;
}

.input-field {
    display: flex;
    justify-content: space-between;
}

.form {
    width: 300px;
}

.btn-details {
    background: linear-gradient(to bottom, blue , rgb(1, 1, 34));
    color: white;
}

.btn-update {
background: linear-gradient(to bottom, rgb(192, 152, 20) , rgb(107, 66, 13));
color: white;
}

.btn-delete {
background: linear-gradient(to bottom, rgb(255, 77, 45) , rgb(156, 0, 0));
color: white;
}

.input-container {
    display: flex;
    justify-content: space-between;
}

th, td {
    text-align: center;
}

.modal-add {
    /* display: flex; */
    /* flex-direction: column; */
    justify-items: end;
    position: absolute;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin: 100px auto;
    display: none;
    max-width: 400px;
    height: fit-content;
    background-color: darkgray;
}


.modal-update {
    /* display: flex; */
    /* flex-direction: column; */
    justify-items: end;
    position: absolute;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin: 100px auto;
    display: none;
    max-width: 400px;
    height: fit-content;
    background-color: darkgray;
}

.modal img {
    height: 300px;
}

.flex-content {
    display: flex;
    justify-content: space-around;
}

.details-and-photo {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

li {
 list-style-type: none;   
}

input {
    text-align: center;
    font-size: 1.25em;
}

.thumb-up {
    height: 50px !important;
    width: 50px;
}
.thumb-down {
    height: 50px !important;
    width: 50px;
    transform: rotate(180deg);
}
